body {
    margin: 0px;
}
.content {
    padding-top: 60px;
    flex: 1;
    margin-bottom: 15px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 15px;
}
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* navbar start */
.navMenuActive {
    display: block !important;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 100%;
    margin-right: 0 !important;
    box-shadow: -2px 2px 8px rgba(0,0,0,.5);
}
.navMenuActive a {
    display: block !important;
    padding: 10px 35px;
    color: #000;
}
.navMenuActive a:hover {
    color: #e00000;
}
/* navbar end */

/* carousel start */
.carousel {
    margin-top: -60px !important;
}
.carousel .slide img {
    max-height: 650px;
    width: 100%;
}
.carousel .slide .legend {
    width: 60% !important;
    font-size: 15px !important;
    background-color: #e00000 !important;
}
.carousel .control-dots .dot {
    outline: none;
}
.carousel .control-dots .dot.selected {
    background-color: #e00000 !important;
}
.carousel .carousel-status {
    display: none !important;
}
/* carousel end */

/* footer start */
.footer {
    padding: 50px 0 15px 0 !important;
}
.footer-social {
    display: flex !important;
    justify-content: center;    
}
.footer-social a {
    margin: 0 15px; 
}
.footerIcon {
    border: 3px solid white;
    border-radius: 40px;
    padding: 10px;
}
.footerIcon:hover {
border-color: red;
}
.footerIconRow {
    display: flex;
    justify-content: right;
    margin: 20px 20px 0 0 !important;
}
.footer-links {
    display: flex!important;
    justify-content: space-evenly;
}
.footer-links div {
    margin-left: 0;
}
@media only screen and (max-width: 425px) {
    .footer-links {
      flex-direction: column;
    }
  }
/* footer end */
 
/* contact start */
.contact-link {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.contact-link:hover {
    color: #e00000;
}
.contact-link svg {
    padding-right: 5px;
}
/* contact end */

/* announcement start*/
.sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionTitle a:hover {
    color: red
}
.sectionTitle a {
    align-items: center;
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

/* announcement end*/
